* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  background-color: rgb(60, 99, 78);
  color: white;
}

#parent-container {
  display: flex;
  flex-direction: column;
}

#header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem;
}

#header > #logo {
  font-size: 1.5rem;
}

#info-bar {
  display: none;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5rem;
}

#message {
  flex-basis: 25%;
  margin-left: 1rem;
}
#guess-taken {
  flex-basis: 25%;
}
#current-result {
  flex-basis: 25%;
}
#timer {
  flex-basis: 25%;
}

#instruction {
  margin-top: 1rem;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.9rem;
}

#instruction > .inst {
  font-size: 2rem;
}

#instruction > .instruction-list {
  font-size: 1.5rem;
}

#game-board-container {
  display: none;
  justify-content: center;
}
#game-board {
  /* border: 1px solid red; */
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  justify-content: space-evenly;
  width: 80vw;
  height: 80vh;
  padding: 0.4rem;
}

.card {
  width: 18vw;
  height: 18vh;
  background-size: cover;
  border: 1px solid black;
  border-radius: 0.9rem;
}

#difficulty {
  /* border: 1px solid red; */
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-evenly;
  padding: 0.5rem;
}

button {
  background-color: rgb(164, 120, 58);
  height: 2.9rem;
  width: 9rem;
  border: none;
  border-radius: 0.5rem;
  color: white;
  font-weight: bold;
  font-size: 0.95rem;
  margin-right: 0.7rem;
}

#pause-newgame {
  margin-top: 1rem;
  display: none;
  justify-content: space-evenly;
  /* border: 1px solid red; */
  padding: 0.5rem;
}

#global-result {
  /* border: 1px solid red; */
  margin-top: 1rem;
  display: flex;
  justify-content: space-evenly;
  font-size: 1.5rem;
  padding: 0.5rem;
}
