* {
  padding: 0;
  margin: 0;
}

body {
  font-size: 62.5%;
  background-color: rgb(60, 99, 78);
  color: white;
}

.parent-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.parent-container > .header {
  display: flex;
  flex-basis: 100%;
  justify-content: space-around;
  padding-top: 1rem;
  padding-bottom: 1rem;
  /* border: 1px solid red; */
}

.parent-container > .header > .game-name {
  font-size: 2rem;
}

#game-container {
  display: none;
  flex-wrap: wrap;
  /* border: 1px solid red; */
  width: 85vw;
  height: 70vh;
  margin: auto;
  margin-top: 1.4rem;
  justify-content: space-around;
  align-items: center;
}

.btn-container {
  /* border: 1px red solid; */
  margin-top: 1rem;
  display: none;
  justify-content: center;
  align-items: flex-end;
}

#btn-reset {
  background-color: white;
  border: none;
  width: 4rem;
  height: 2.5rem;
  border-radius: 0.6rem;
  margin-right: 0.4rem;
}

#btn-home {
  background-color: white;
  border: none;
  width: 4rem;
  height: 2.5rem;
  border-radius: 0.6rem;
}

.card {
  width: 18%;
  height: 30%;
  background-color: black;
  border: none;
  border-radius: 0.9rem;

  /* margin: .4rem; */
}

.red {
  background-color: red;
}
.blue {
  background-color: blue;
}
.green {
  background-color: green;
}
.orange {
  background-color: orange;
}
.purple {
  background-color: purple;
}

.front-card {
  display: none;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  /* border: 1px solid red; */
  width: 70%;
  margin-top: 5rem;
  align-self: center;
  gap: 2.4rem;
}

.home > h4 {
  font-size: 2.5rem;
}

li {
  font-size: 1rem;
}

#new-game-btns {
  display: flex;
  margin-bottom: 2rem;
}

#new-game-btns > #new-game-color {
  background-color: rgb(164, 120, 58);
  height: 2.9rem;
  width: 9rem;
  border: none;
  border-radius: 0.5rem;
  color: white;
  font-weight: bold;
  font-size: 0.95rem;
  margin-right: 0.7rem;
}

#new-game-btns > #new-game-gif {
  background-color: rgb(164, 120, 58);
  height: 2.9rem;
  width: 9rem;
  border: none;
  border-radius: 0.5rem;
  color: white;
  font-weight: bold;
  font-size: 0.95rem;
}

.message {
  /* border: 1px solid red; */
  height: 1.7rem;
  text-align: center;
  display: flex;
  justify-content: center;
}

#match-message {
  font-size: 1.5rem;
  justify-content: center;
}

#win-message {
  font-size: 1.5rem;
}

#btn-home {
  background-color: rgb(164, 120, 58);
  height: 2.9rem;
  width: 9rem;
  border: none;
  border-radius: 0.5rem;
  color: white;
  font-weight: bold;
  font-size: 0.95rem;
}

#new-game {
  background-color: rgb(164, 120, 58);
  height: 2.9rem;
  width: 9rem;
  border: none;
  border-radius: 0.5rem;
  color: white;
  font-weight: bold;
  font-size: 0.95rem;
  margin-right: 0.7rem;
}
#create-new-game {
  background-color: rgb(164, 120, 58);
  height: 2.9rem;
  width: 9rem;
  border: none;
  border-radius: 0.5rem;
  color: white;
  font-weight: bold;
  font-size: 0.95rem;
  margin-right: 0.7rem;
}

#score {
  align-self: center;
  font-size: 1.3rem;
}

#best-score{
  font-size: 1rem;
}

@media screen and (max-device-width: 480px) {
  #parent {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  #game-container {
    display: none;
    flex-wrap: wrap;
    width: 85vw;
    height: 70vh;
    margin: auto;
    margin-top: 1.4rem;
    justify-content: space-around;
    align-items: center;
  }

  .card {
    width: 11rem;
    height: 19rem;
    border: none;
    border-radius: 0.9rem;
  }
}
